[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

# Cluster connection URL
wsrep_cluster_address="gcomm://{{ groups['all'] | map('extract', hostvars, 'ansible_host') | join(',') }}"

# Galera Synchronization Configuration
wsrep_cluster_name="mariadb_cluster"
wsrep_node_address="{{ ansible_host }}"
wsrep_node_name="{{ inventory_hostname }}"
wsrep_sst_method=rsync
